package components

templ Navbar() {
<nav class="navbar bg-body-tertiary">
    <div class="container-lg">
        <a class="navbar-brand" href="/">
        <i class="fa-solid fa-blog"></i>
        TechBlog
        </a>
    </div>
</nav>
}